* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Sf Pro Display';
}

header {

    transition: top 0.3s ease-in-out;
    width: 100%;
    height: 100px;
    background-color: rgba(32, 32, 32, 0.575);
    backdrop-filter: blur(14px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

}

header .wrapper {
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

header .wrapper a {
    text-decoration: none;
}

header nav {
    margin-left: 120px;
    transition: .2s
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 66px;
    font-size: 16px;
    font-weight: 100;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    width: 100%;
    background-color: #141414;
}

/* section .wrapper {
    max-width: 1200px;
    border: 1px solid red;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
} */

header .wrapper .logo {
    /* border: 1px solid green */
}

header .wrapper .logo span {
    color: rgb(231, 231, 231);
    font-size: 22px;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 4px;
}

/* ACCORDION  */
section.accord {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 90px;
}

section.accord h4 {
    color: white;
    font-size: 32px;
    text-align: center;
}

section.accord .wrapper {
    max-width: 1200px;
    margin: auto;

}

.accordion {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

.accordion-item {
    background: #1e1e1e;
    color: #ffffff;
    margin: 1em 0;
    border-radius: 0.5em;
    box-shadow: 2px 3px 1px -1px rgba(0,0,0,0.2);
}

.accordion-title {
    padding: 0.9em 3em 0.9em 1em;
    position: relative;
    display: block;
    cursor: pointer;
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    border-bottom: 1px solid #1a1a1a;
    margin: 0;
}

.accordion-title .fas {
    font-size: 16px;
    margin-right: 6px;
}



.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 18px;
    /* padding: 10px; */
}

.accordion-item.active .accordion-content {
    max-height: 100vh; /* approximate max height */
    padding: 1em;
}

.accordion-content p {
    padding: 0 20px;
    font-size: 20px;
    line-height: 30px;
}


/* END ACCORDION  */


/* NEWS SECTION  */
section.news-section {
    padding-top: 80px;
    width: 100%;
    margin: 0 auto;
}

section.news-section .wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1em;
}

.news-section h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    font-size: 42px;
    color: white;
    /* margin-left: 22px; */
}

.news-item {
    flex: 0 0 calc(33.3333% - 1em);
    margin: 0.5em;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2); */
    transition: all 0.3s ease-in-out;
    color: #333;
    text-decoration: none;
}

.news-item a {
    text-decoration: none;
}

.news-item:hover {
    box-shadow: 0 4px 15px 0 hsla(0, 0%, 0%, 0.2);
}

.image-container {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
}

.image-container img {
    width: 120%;
    height: auto;
}

.news-item h3 {
    font-size: 1.2em;
    margin: 0.5em 0;
    text-decoration: none;
    color: white;
}

.news-item p {
    font-size: 0.9em;
    color: #929292;
}

.more-news {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

.start {
    padding-top: 50px;
    width: 100%;

    margin-top: 1em;
}

.btn a {
    background-color: #202123;
    text-decoration: none;
    color: #d4d4d4;
    font-size: 22px;
    /* background: #f9f9f9; */
    padding: 0.8em 3em;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 0.5em;
    transition: all 0.3s ease-in-out;
}

.btn a:hover {
    background: #2c2c2c;
}
/* END NEWS SECTION  */




/* SECTION FEATURES  */
section.features {
    width: 100%;
    background-color: #343541;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 150px 0;
}

section.features .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
}

section.features .block {
    flex: 1;
    margin: 0.4em;
    padding: 2em;
    text-align: center;
    background-color: #202123;
    border-radius: 22px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}



section.features .block .title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.features .block i {
    display: block;
    font-size: 2em;
    color: #6C60A0;
    margin-bottom: 1em;
}

section.features .block span {
    color: #dddddd;
    font-size: 1em;
}

section.features .block p {
    color: #707070;
    font-size: 1em;
}
/*END SECTION FEATURES  */



/* SECTION TEXT  */

section.text {
    padding: 20px;
    padding-top: 90px;
    width: 100%;

}

section.text .wrapper {
    max-width: 1200px;
    margin: auto;
    /* border: 1px solid blue; */
}

section.text .wrapper p {
    font-size: 19px;
    color: white;
    line-height: 30px;
    margin-bottom: 38px;
}

section.text .wrapper ul li {
    color: white;
    margin-top: 15px;
    font-size: 19px;
}

/* END SECTION TEXT  */




/* WHY ME  */

section.why-me {
    margin-top: -10px;
    padding-top: 60px;
    color: #fff;
}

section.why-me h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 0;
}

section.why-me .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    margin: auto;
    max-width: 1200px;
}

section.why-me .column {
    flex: 1;
    margin: 0.5em;
    padding: 2em;
    text-align: center;
    /* background-color: #1e1e1e; */
    color: white;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    max-width: 430px;
}

section.why-me .column ul {
    list-style-type: none; /* Убирает маркеры списка */
    padding-left: 0; /* Выравнивает список по левому краю */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section.why-me .column ul li {
    font-size: 16px;
    font-weight: 200;

    margin-top: 14px;
}

section.why-me .column ul li .fas {
    margin-right: 8px;
}

section.why-me .column ul li .fa-times {
    color: #C84646;
    font-size: 22px;
}

section.why-me .column ul li .fa-check {
    color: #6C60A0
}

section.why-me .column h2 {
    margin-bottom: 1em;
}

section.why-me .column p {
    font-size: 34px;
}

section.why-me .arrow {
    color: #fff;
    font-size: 2em;
}

/* END WHY ME  */


/* SECTION WELCOME  */
section.welcome {
    
    width: 100%;
    height: 900px;
    background-image: radial-gradient(circle at top right, rgba(52, 53, 65, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(32, 33, 35, 0.13), transparent);
    position: relative;
    padding-top: 120px;
}

section.welcome .wrapper {
    position: relative;
    max-width: 1200px;
    margin: auto;
    z-index: 2;
    /* border: 1px solid red; */
}

section.welcome .wrapper h1 {
    font-size: 52px;
    color: white;
    /* text-transform: uppercase; */
    font-weight: 500;
    line-height: 42px;
    margin-top: 120px;
}

section.welcome .wrapper p {
    color: white;
    font-size: 20px;
    line-height: 28px;
}

section.welcome canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

        /* -webkit-tap-highlight-color: transparent;
        tap-highlight-color: transparent;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer; */
    
  }

/* END SECTION WELCOME  */







#back-to-top {
    
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #353535; /* Set a background color */
    color: rgb(145, 145, 145); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#back-to-top:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}







/* BREAD */



/* END BREAD */
.breadcrumb {
    
}

.breadcrumb ol {
    padding-left: 0;
    display: flex;
    list-style-type: none;
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb a span {
    color: white;
}

.breadcrumb .fa {
    color: rgb(150, 150, 150);
    margin: 0 8px;
    font-size: 13px;
    margin-top: 4px;
}

.breadcrumb span {
    color: rgb(175, 175, 175);
}


/* NEWS  */


section.news {
    
    width: 100%;
    /* height: 800px; */
    background-image: radial-gradient(circle at top right, rgba(52, 53, 65, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(32, 33, 35, 0.13), transparent);
    position: relative;
    padding-top: 120px;
}

section.news .wrapper {
    max-width: 1200px;
    margin: auto;
    /* border: 1px solid red; */
}

section.news .mainImage {
    max-width: 1200px;
    margin-top: 35px;
    margin-bottom: 40px;
}

section.news h1 {
    margin-top: 60px;
    color: white;
    font-size: 34px;
}

section.news p.title-descr {
    font-size: 22px;
    color: rgb(241, 241, 241);
}

.blog_items {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.blog_items .news-item {
    min-width: 560px;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 10px;
    padding: 20px;
}

.blog_items .news-item h2 {
    color: white;
}

.blog_items .news-item a {
    display: flex;
    text-decoration: none;
}

.blog_items .news-item .image-container {
    min-width: 260px;
    /* border: 1px solid red; */
}





p.time {
    color: rgb(160, 160, 160);
    font-weight: 100;
    letter-spacing: 2px;
}


.watch_time {
    color: rgb(173, 173, 173);
    font-weight: 100;
    margin-top: 10px;
}









#table-of-contents {
    border: 1px solid rgb(56, 56, 56);
    border-radius: 10px;
    padding: 20px 20px;
    margin-top: 10px;
    margin-bottom: 80px;
}

#table-of-contents h2 {
    color: white;
    font-size: 23px;
    margin: 0;

}

#table-of-contents h2 .fas {
    font-size: 16px;
    margin-right: 10px;
}

#table-of-contents ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

#table-of-contents ul li {
    padding: 8px 20px;
    padding-left: 0;
    border-bottom: 1px solid rgb(56, 56, 56);
}

#table-of-contents ul li a {
    text-decoration: none;
    color: white;
}












.text_tables {
    display: flex;
}

.text_tables .left {
    flex: 1;
    padding-right: 20px;
    max-width: 820px;
    
    /* border: 1px solid red; */
}

.text_tables .left h2 {
    margin-top: 70px;
    font-size: 38px;
    color: white;
}

.text_tables .left p {
    font-size: 22px;
    font-weight: 100;
    color: white;
    margin-bottom: 36px;
    line-height: 31px;
}

.text_tables .left p strong {
    font-weight: 800;
    /* color: #6C60A0; */
    font-size: 22px;
}

.text_tables .left p a {
    color: white;
}

.text_tables .left p img {
    max-width: 820px;
}

.text_tables .left ul {
    padding-left: 15px;
    list-style-type: disc;
    color: white;
    margin-bottom: 36px;
}

.text_tables .left ul li {
    font-size: 20px;
    margin-top: 6px;
    line-height: 31px;
}

.text_tables .left ul li strong {
    font-weight: 800;
    /* color: #6C60A0; */
    font-size: 22px;
}



.text_tables .left ol {
    padding-left: 15px;
    /* list-style-type: disc; */
    color: white;
    margin-bottom: 36px;
}

.text_tables .left ol li {
    font-size: 20px;
    margin-top: 6px;
}

.text_tables .left ol li strong {
    font-weight: 800;
    color: #6C60A0;
    font-size: 22px;
}


.text_tables .right {
    width: 380px;
}



.similar h3 {
    color: white;
    font-size: 32px;
    margin-bottom: 40px;
}

.similar h4 {
    color: white;
    font-size: 22px;
    margin: 4px 0;
}

.similar .more_news {
    display: flex;
}

.similar .more_news .image-container {
    height: 160px;
}

.similar .more_news p {
    font-size: 16px!important;
    color: rgb(83, 83, 83);
}







.share-block {
    /* background-color: #e1f5fe; */
    border-top: 1px dashed #3a3a3a;
    border-bottom: 1px dashed #3f3f3f;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0px;
}

.share-block p {
    
    margin: 0!important;
    font-size: 16px;
    font-weight: bold;
    padding: 17px 0;
}

.share-block .fab {
    color: white;
    font-size: 24px;
}

.share-block .fa {
    margin-right: 8px;
}

.share-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
}
















/* // АНИМАЦИЯ ГЛАВНОГО ЭКРАНА  */


.container {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: transparent;
  }
  
  svg {
    position: absolute;
    height: 100%;
  }
  
  .lines {
    opacity: 0.05;
  }
  
  .line {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #4C3A90;
  }
  
  .lights {
    opacity: 0.9;
  }
  
  .light {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #7A6BB5;
  }


/* // END АНИМАЦИЯ ГЛАВНОГО ЭКРАНА  */






.call {
    padding: 20px 40px;
    width: 100%;
    height: auto;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 12px;
    margin-bottom: 40px;
}

.call a {
    color: white;
    font-size: 20px;
}












footer {
    width: 100%;
    height: 170px;
    background-color: #1a1b1d;
}

footer .wrapper {
    max-width: 1200px;
    margin: auto;
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
}

footer .wrapper a {
    text-decoration: none;
}

footer .wrapper span {
    color: rgb(231, 231, 231);
    font-size: 22px;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 4px;
}

footer nav {
    margin-left: 120px;
    transition: .2s
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

footer nav ul li {
    margin-right: 66px;
    font-size: 16px;
    font-weight: 100;
}

footer nav ul li a {
    text-decoration: none;
    color: white;
}

footer nav ul li a:hover {
    text-decoration: underline;
}

















/* // INDEX PAGE MOBILE  */



/* Стили для экранов шириной от 1200px до 992px */
@media only screen and (max-width: 1200px) {
    /* Ваши стили здесь */
    header {
        padding: 0 40px;
    }

    section.welcome .wrapper {
        padding: 0 40px;
    }

    section.why-me h2 {
        font-size: 34px;
    }

    section.why-me .column p {
        font-size: 30px;
    }
    section.why-me .wrapper {
        padding-top: 0;
    }

    section.features .wrapper {
        flex-wrap: wrap;
    }
    section.features .block {
        padding: 20px 10px;
    }
    section.features {
        padding: 85px 0;;
    }
    section.text .wrapper p {
        font-size: 18px;
    }
    section.text .wrapper ul li {
        font-size: 18px;
    }
    .news-section h2 {
        font-size: 34px;
    }
    section.news-section {
        padding-top: 20px;
    }

    footer {
        padding: 0 40px;
    }
    
}

/* Стили для экранов шириной от 768px до 992px */
@media only screen and (max-width: 992px) {
    /* Ваши стили здесь */
    header .wrapper .logo span {
        font-size: 18px;
    }
    section.welcome .wrapper h1 {
        font-size: 44px;
    }
    section.welcome .wrapper p {
        font-size: 18px;
    }
    .btn a {
        font-size: 20px;
        padding: 0.8em 2em;
    }
    section.why-me h2 {
        font-size: 28px;
    }
    section.why-me .column {
        padding-top: 0;
    }
    section.why-me .arrow {
        font-size: 18px;
    }
    section.why-me .column p {
        font-size: 24px;
    }
    section.why-me .column ul li {
        font-size: 14px;
    }
    section.features .block {
        min-width: 200px;
    }
    section.text .wrapper p {
        font-size: 17px;
    }
    section.text {
        padding-top: 45px;
    }
    section.text .wrapper ul li {
        font-size: 17px;
    }
    section.text .wrapper p {
        margin-bottom: 24px;
    }
    .news-section h2 {
        font-size: 28px;
    }
    section.news-section .wrapper .news-item {
        min-width: 260px;
    }
    section.news-section .wrapper .news-item h3 {
        font-size: 1em;
    }
    section.accord h4 {
        font-size: 28px;
    }
    .accordion-title {
        font-size: 20px;
    }
    .accordion-content p {
        font-size: 17px;
    }

    footer .wrapper span {
        font-size: 20px;
    }
    
}

/* Стили для экранов шириной от 481px до 768px */
@media only screen and (max-width: 768px) {
    /* Ваши стили здесь */
    header .wrapper .logo span {
        font-size: 15px;
    }
    header nav ul li {
        margin-right: 12px;
    }
    header nav {
        margin-left: 23px;
    }
    header nav ul li {
        font-size: 14px;
    }
    section.welcome .wrapper h1 {
        font-size: 32px;
        margin-top: 60px;
        line-height: 35px;
    }
    section.welcome .wrapper p {
        font-size: 15px;
        line-height: 20px;
    }
    .btn a {
        font-size: 18px;
        padding: 0.8em 1em;
    }

    section.welcome {
        height: 680px;
    }
    section.why-me .wrapper {
        flex-direction: column;
    }
    section.why-me .arrow {
        transform: rotate(90deg);
    }
    section.why-me h2 {
        font-size: 22px;
    }
    section.why-me {
        padding-top: 50px;
    }
    section.why-me .column p {
        font-size: 22px;
        margin-bottom: 0;
    }
    section.text .wrapper p {
        font-size: 16px;
    }
    section.text .wrapper ul li {
        font-size: 16px;
    }
    .news-section h2 {
        font-size: 24px;
        margin-top: 0px;
    }
    section.news-section .wrapper .news-item {
        padding: 10px;
    }
    section.news-section .wrapper {
        flex-direction: column;
    }
    section.accord h4 {
        font-size: 22px;
        margin-top: 0;
    }
    .accordion-title {
        font-size: 17px;
    }
    .accordion-content p {
        font-size: 16px;
        line-height: 25px;
    }
    footer nav ul li {
        margin-right: 12px;
    }
    footer nav {
        margin-left: 23px;
    }
    footer nav ul li {
        font-size: 14px;
    }
    
}

/* Стили для экранов шириной от 380px до 480px */
@media only screen and (max-width: 480px) {
    /* Ваши стили здесь */
    section.welcome .wrapper h1 {
        font-size: 24px;
    }

    section.welcome .wrapper p {
        font-size: 14px;
    }
    .btn a {
        font-size: 16px;
    }
    section.why-me h2 {
        font-size: 18px;
    }
    .accordion-title {
        font-size: 15px;
    }

    .accordion-content p {
        font-size: 15px;
    }

    footer .wrapper span {
        font-size: 15px;
    }
}

/* Стили для экранов шириной до 380px
@media only screen and (max-width: 380px) {
    /* Ваши стили здесь */
/* }  */



/* END INDEX PAGE MOBILE  */








/*BLOG PAGE MOBILE  */

/* Стили для экранов шириной от 1200px до 992px */
@media only screen and (max-width: 1200px) {
    section.news .wrapper {
        padding: 0 40px;
    }
    
    .blog_items .news-item {
        min-width: 100%;
    }
    .blog_items .news-item h2 {
        font-size: 20px;
    }
}

/* Стили для экранов шириной от 768px до 992px */
@media only screen and (max-width: 992px) {
    section.news p.title-descr {
        font-size: 17px;
    }
    section.news h1 {
        margin-top: 30px;
        font-size: 30px;
    }
    
}

/* Стили для экранов шириной от 481px до 768px */
@media only screen and (max-width: 768px) {
    .blog_items .news-item a {
        flex-direction: column;
    }
    .blog_items .news-item {
        padding: 10px;
    }
    footer nav {
        margin-left: 0;
    }
    
}

/* Стили для экранов шириной от 380px до 480px */
@media only screen and (max-width: 480px) {
    /* Ваши стили здесь */
    section.news .wrapper {
        padding: 0 20px;
    }

    section.news h1 {
        font-size: 24px;
    }

    section.news p.title-descr {
        font-size: 16px;
    }

    .blog_items .news-item h2 {
        font-size: 18px;
    }
}

/* Стили для экранов шириной до 380px
@media only screen and (max-width: 380px) {
    /* Ваши стили здесь */
/* }  */

/* END BLOG PAGE MOBILE  */












/* SINGLE NEWS PAGE MOBILE  */

/* Стили для экранов шириной от 1200px до 992px */
@media only screen and (max-width: 1200px) {
    /* .text_tables .right {
        display: none;
    } */
    section.news .mainImage {
        max-width: 100%;
    }
    .text_tables {
        flex-direction: column;
    }
    .text_tables .left {
        max-width: 100%;
    }
    .watch_time {
        margin-bottom: 30px;
    }
}

/* Стили для экранов шириной от 768px до 992px */
@media only screen and (max-width: 992px) {
    .breadcrumb li {
        font-size: 14px;
    }
    section.news h1 {
        font-size: 24px;
    }
    p.time {
        font-size: 14px;
    }
    section.news .mainImage {
        margin-bottom: 0px;
    }
    section.news p.title-descr {
        font-size: 16px;
    }
    #table-of-contents h2 {
        font-size: 21px;
    }

    .text_tables .left ul li {
        font-size: 18px;
    }

    .text_tables .left h2 {
        font-size: 33px;
        margin-top: 0;
    }

    .text_tables .left p {
        font-size: 16px;
        line-height: 26px;
    }

    .text_tables .left ul li strong {
        font-size: 18px;
    }

    .text_tables .left p strong {
        font-size: 18px;
    }

    .text_tables .left p img {
        max-width: 100%;
    }
    
}

/* Стили для экранов шириной от 481px до 768px */
@media only screen and (max-width: 768px) {
    .breadcrumb ol {
        flex-direction: column;
    }
    .breadcrumb .fa {
        transform: rotate(-90deg);
        display: inline;
        width: 10px;
        margin-top: 4px;
        margin-bottom: 6px;
        margin-left: 17px;
    }

    section.news h1 {
        font-size: 22px;
    }

    p.time {
        font-size: 13px;
    }

    section.news .mainImage {
        margin-top: 15px
    }

    #table-of-contents ul li {
        font-size: 16px;
        padding-top: 0;
    }

    #table-of-contents h2 {
        font-size: 19px;
    }
    #table-of-contents {
        margin-bottom: 40px;
    }

    .text_tables .left h2 {
        font-size: 24px;
    }

    .text_tables .left p {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 23px;
    }

    .call {
        padding: 10px 20px;
    }

    .text_tables .left ul li {
        font-size: 16px;
        line-height: 26px;
    }

    .share-block  {
        position: relative;
    }

    .share-block p {
        position: absolute;
        top: -50px
    }
    
    
}

/* Стили для экранов шириной от 380px до 480px */
@media only screen and (max-width: 480px) {
    section.news h1 {
        font-size: 20px;
    }
    .watch_time {
        font-size: 16px;
    }

   .text_tables .right {
    width: auto;
   }
}

/* Стили для экранов шириной до 380px
@media only screen and (max-width: 380px) {
    /* Ваши стили здесь */
/* }  */

/* END SINGLE NEWS PAGE MOBILE  */


































/* 



body, section, .accordion-item, .news-item, .column, .call, footer {
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: rgba(255, 255, 255, 0.575);
}

.accordion-title, .accordion-content, .breadcrumb span, .breadcrumb .fa, .share-block p {
    color: #000000;
}

#back-to-top, .btn a {
    background-color: #ffffff;
    color: #000000;
}

#table-of-contents, .call {
    border-color: #000000;
}

.news-section .news-item, .text_tables .left, .text_tables .right {
    border-color: #000000;
}

.share-block {
    border-top-color: #000000;
    border-bottom-color: #000000;
} */
